doctype html
html(lang='en')
    head
        title SPD
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        link(href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900' rel='stylesheet')
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet' href='css/all.min.css')
        link(rel='stylesheet' href='scss/style.css')
        link(rel="icon" href="images/logo.png")
    body
        .wrapper.d-flex.align-items-stretch
            nav#sidebar
                .custom-menu
                .img.bg-wrap.text-center.py-4(style='background-color:cornsilk' onclick='location.href = "/"')
                    .user-logo
                        .img(style='background-image: url(images/logo.png);')
                ul.list-unstyled.components.mb-5
                    li.active
                        a(href='/sjezdovky')  
                            i.fas.fa-skiing.mr-2 
                            |Sjezdovky
                    li
                        a(href='/fotky')  
                            i.fas.fa-images.mr-2 
                            |Fotky
                    li
                        a(href='/logout')  
                            i.fas.fa-sign-out-alt.mr-2 
                            |Odhlásit se
            #content.p-4.p-md-5.pt-5
                h4 Dobrý den #{user.name}

        script(src='js/jquery.min.js')
        script(src='js/popper.js')
        script(src='js/bootstrap.min.js')
        script(src='js/main.js')
