doctype html
html(lang='en')
    head
        title Moje karty
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        link(href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900' rel='stylesheet')
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet' href='css/all.min.css')
        link(rel='stylesheet' href='scss/style.css')
        link(rel='stylesheet' href='css/main.css')
        link(rel="icon" href="images/logo.png")
        link(rel="stylesheet", href="css/bootstrap/bootstrap.css")
    body
        .wrapper.d-flex.align-items-stretch
            nav#sidebar
                .custom-menu
                .img.bg-wrap.text-center.py-4(style='background-color:cornsilk' onclick='location.href = "/"')
                    .user-logo
                        .img(style='background-image: url(images/logo.png);')
                ul.list-unstyled.components.mb-5
                    li
                        a(href='/sjezdovky')  
                            i.fas.fa-skiing.mr-2 
                            |Sjezdovky
                    li.active
                        a(href='/karty')  
                            i.fas.fa-id-card.mr-2 
                            |Moje karty
                    li
                        a(href='/fotky')  
                            i.fas.fa-images.mr-2 
                            |Fotky
                    li
                        a(href='/logout')  
                            i.fas.fa-sign-out-alt.mr-2 
                            |Odhlásit se
            #content.p-4.p-md-5.pt-5
                .row
                    .col-6
                        h5 Nová karta
                        form(action="/koupitkartu", method='post')
                            .form-group
                                label Doba
                                select.form-control(name='duration')
                                    option(value="1") 1 Měsíc
                                    option(value="2") 2 Měsíc
                                    option(value="3") 3 Měsíc
                                    option(value="6") 6 Měsíc
                            .form-group
                                label Cena
                                input(type="text", name="price", value='100Kč' disabled).form-control
                            button(type="submit").btn.btn-primary Koupit kartu
        script(src='js/jquery.min.js')
        script(src='js/popper.js')
        script(src='js/bootstrap.min.js')
        script(src='js/main.js')
        script(src='js/main2.js')
